.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* styles for header.js */

/* Header container */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Style for the left-side container */
.left {
  display: flex;
  align-items: center;
}

/* Style for the cocktail image */
.left img {
  margin-right: 10px;
}

/* Style for the "Cocktail" text */
.cocktail-text {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Ink Free';
}

/* Style for the right-side container */
.right {
  order: 2;
}
.home-button {
  background-color: #e6a857;
  color: #fff;
  padding: 10px 20px; 
  text-decoration: none;
  border-radius: 4px; 
  font-weight: bold;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* SearchBar CSS */

/* Style for the search bar container */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 30px;
  width: 500px;
  justify-content: center;
  margin-left: 30%;
}

/* Style for the search input field */
.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

/* Style for the search button */
.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

/* Custom CSS for CocktailDetails */
.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px; 
  margin: 40px;
  overflow: hidden;
}

.container-item {
  width: 270px; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 

}

.description {
  text-align: center;
  height:100px;
  margin-bottom: 10px; 
}


/* Style for "See More" button */
.see-more{
  color: #093594;
  font-size: 14px;
}

/* App.css */

/* Style for error message */
.error-message {
  /* background-color: #ebe9e9f5;  */
  color: #ec1111; 
  padding: 30px; 
  text-align: center; 
  margin-top: 50px; 
  font-size: 22px;
  width: fit-content;
  font-weight: bold;
  margin-left: 32%;
}



/* Style for loading spinner */
.loading-spinner {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100px; 
  margin-top: 20px; 
  font-size: 30px;
  font-weight: bold;
  margin-left: -40px;
}

/* Style for loading spinner animation */
.loading-spinner .spinner-border {
  color: #0f0f0f;
  width: 4rem;
  height: 4rem; 
}
/* Style for loading spinner */
.loading-spinner-2 {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100px; 
  margin-top: 20px; 
  font-size: 25px;
  font-weight: bold;
  margin-left: 50px;
}

/* Style for loading spinner animation */
.loading-spinner-2 .spinner-border {
  color: #0f0f0f;
  width: 4rem;
  height: 4rem; 
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 3px solid #333232e3;
  overflow: auto;
  
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #f3f1f1;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 3px solid #333232e3;
  font-size: 20px;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.image-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
}
/* styles.css */
.view-popup-button {
  background-color: #494b4e11; 
  color: #615f5f;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 0;
}

.view-popup-button:hover {
  background-color: #919497a1; 
}

.details-i{
  display: flex;
  justify-content: space-between;
  width: 56%;
  margin-left: 22%;
  line-height: 250%;
}
.instructions{
  text-align: right;
}
hr{
  height: 10px;
}